---
layout: 'base.njk'

---

<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title in-blog-h-m">
      {{title}}
    </h1>
    <figure class="main-article__figure">
      <img id="article-img" src="{{image}}" alt="{{imageAlt}}">
      <figcaption>
        {{imageAlt}}
      </figcaption>
    </figure>
    
  {{content | safe }}

   </div>
   </article>

<script>
    const a_img = document.getElementById('article-img');
    const img_src = a_img.src;
    const  metaImage = document.createElement('meta');
    metaImage.setAttribute('property', 'og:image'); // Use 'property' for Open Graph meta tags
    metaImage.setAttribute('content', img_src);
    document.head.appendChild(metaImage)
</script>
</div>
</article>