<footer class="site-footer">
    <h1> <a class="m-nav-f" href="/"> Xipus </a>  </h1> 
    <br>
    <p>© <span id="year"> 2020 </span> Company Name. All rights reserved.</p>
    <br>
    {#
    <div class="link-group">
      <a href="/Privacy-policy">Privacy Policy</a>
      <a href="#">About us</a>
      <a href="#">Contact us </a>
      #}
    </div>
</footer>

<script>
  document.getElementById('year').innerHTML = new Date().getFullYear();
</script>
