    <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <h1 > <a class="m-nav-h" href="/"> Xipus </a> </h1>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
         {# <li>
            <a href="/collections/">Collections</a>
          </li>#}
        </ul>
      </nav>
    </div>
  </div>
</header>