---
title: Privacy Policy
layout: 'base.njk'
--- 
<article class="main-article">
<div class="section container">
<h1 class="section-title">Privacy Policy</h1> 
    <br>
    <p>Welcome to Xipus! At Xipus, we are committed to safeguarding your privacy. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you visit our website.</p>
    <br>
    <h3>Information Collection:</h3> 
    <p>We may collect personal information, such as your name and email address, when voluntarily provided by you through our contact form.</p>
    <br>
    <h3>Cookies:</h3> 
    <p>Our website may use cookies to enhance your browsing experience. Cookies are small pieces of data stored on your device that help improve site functionality and provide a personalized experience.</p>
    <br>
    <h3>Information Usage:</h3> 
    <p>We use the collected information to respond to your inquiries, send periodic emails, and improve our website's content and functionality.</p>
    <br>
    <h3>Third-Party Links:</h3>
    
    <p>Our blog may contain links to third-party websites. Please note that we are not responsible for the privacy practices of these external sites. We encourage you to review their privacy policies.</p>
    <br>
    <h3>Security:</h3>
    
    <p>We employ industry-standard measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.</p>
    
    <p>By using Xipus, you consent to the terms of this Privacy Policy. We reserve the right to update or modify this policy at any time, so please review it periodically.</p>
    
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a target="_blank" href="mailto:Teamxipus@gmail.com"> <strong>Teamxipus@gmail.com.</strong> </a></p>
    
    <p>Thank you for visiting Xipus!</p>
</div>
</article>
